/*
--------------
--------------
Notes:
- Margin and padding values will be in rems or ems
- Margin and padding values will be in multiples of 8
    - Minimum padding will be 8px
        - Can go down to 4px but try avoiding those
- 0.5rem: 8px
- 1rem  : 16px

//colors
- primary  : #C64039
- border   : #E1E1E1
- body text: #212121
--------------
--------------
*/

/*
--------------
--------------
BASE
All styles without classes
--------------
--------------
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font: 800 18px 'Nunito', sans-serif;
    color: #212121;
    text-align: center;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ECE9E6+0,#FFFFFF+100 */
    background: #ECE9E6; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ECE9E6 0%, #FFFFFF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ECE9E6 0%,#FFFFFF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(345deg, #ECE9E6 0%,#FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ECE9E6', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

ul {
    display: flex;
    list-style-type: none;
}

ul.horizontal{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul.vertical {
    flex-direction: column;
}

/*links*/
a {
    color: #C64039;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*links end*/

/*form elements*/
label {
    font: 200 24px 'Nunito', sans-serif;
    text-align: center;
    margin: 1rem;
}

button {
    font: 200 32px 'Nunito', sans-serif;
    height: 3rem;
    margin: 1rem;
}
/*form elements end*/

footer {
    width: 48%;
    margin: 0 auto;
    font: 200 1rem 'Nunito', sans-serif;
    color: #E1E1E1;
    padding: 1rem 0 5rem; /*shorthand reads, padding: top left&right bottom*/
    border-top: 1px solid #FFF;
    box-shadow: 0 -1px 0 #E1E1E1;
}

h1.main-heading {
    font: 800 120px 'Nunito', sans-serif;
    text-align: center;
    color: #C64039;
    padding: 4rem 0 1rem;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
}

.contents {
    min-height: 300px;
}

.center-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mattermost-trademark-notice {
    margin: 1.5rem;
    font-size: 12px;
    color: black;
    text-align: center;
}

/*
EMAIL FORM
*/
.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0 auto 5rem;
}

.email-box {
    height: 3rem;
    width: 25rem;
    margin: 1rem;
    font: 200 24px 'Nunito', sans-serif;
    text-align: center;
    padding: 5px;
}

.submit-button {
    font-weight: bolder;
    font-size: 24px;
    width: 7.5rem;
}
/*
EMAIL FORM END
*/

/*
SECURITY
*/
.security-doc {
    width: 60%;
    padding-bottom: 5rem;
}

.security-doc p {
    margin: 1.5rem 0;
    font: 200 24px 'Nunito', sans-serif;
    line-height: 1.6em;
    text-align: left;
}

.security-doc p:first-of-type {
    margin-top: 0;
}
/*
SECURITY END
*/

/*
DOWNLOAD
*/
.download-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.platform-download-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background: #FEFEFE;
    color: #323232;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    border: solid 1px #eee;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width: 15rem;
}

.platform-download-link:hover {
    background: #FDFDFD;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.platform-download-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
/*
DOWNLOAD END
*/

#thank-you {
    font-family: 'Nunito', sans-serif;
    font-weight:200;
    font-size:36px;
    height:30px;
    width:100%;
    display: none;
}

#waiting {
    font-family: 'Nunito', sans-serif;
    font-weight:200;
    font-size:36px;
    height:30px;
    width:100%;
    display: none;
}

.footer-link a {
    padding: 0 0.25rem; /*4px*/
}

.product-description {
    font: 200 24px 'Nunito', sans-serif;
    display: block;
    max-width: 60%;
    text-align: center;
    margin: 20px 0;
    font-weight: 100;
}

.product-description p {
    margin-bottom: 20px;
}

.tagline {
    padding: 0 0 3rem;
    color: #C64039;
    font-weight: 100;
}
